/* importing google fonts
---> amiri (arabic)
---> Hind shiliguri (benglai)
---> montserrat (english)
*/

@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Hind+Siliguri:wght@600&family=Montserrat:wght@600&display=swap');

/* stylng the globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #051a35;
  color: rgb(48, 240, 160);
}

a {
  text-decoration: underline wavy;
  color: rgb(240, 221, 48);
}

/* styling the common styles */

.arabic {
  font-family: 'Amiri', serif;
}

.bengali {
  font-family: 'Hind Siliguri', sans-serif;
}

.english {
  font-family: 'Montserrat', sans-serif;
}

.header-text,
.footer-text {
  font-size: 40px;
  text-align: center;
  margin: 20px;
}
.reset-btn{
  padding: 20px 40px;
  margin: 20px auto;
  font-size: 25px;
  background-color: #5dac75;
  color: white;
  border: 0;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}
.footer-text {
  font-size: 20px;
  display: block;
}

/* tasbih's style */

.tasbih {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin: 90px 0;
}

.tasbih-text {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

/* circles around button */

.circle-1,
.circle-2 {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background-color: #8bd39f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-1 {
  box-shadow: 3px 1px 36px 13px #8bd39f;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.circle-2 {
  width: 270px;
  height: 270px;
  background-color: #5dac75;
}

/* styling button */

.btn-container {
  margin-top: 50px;
}

.btn {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: #3A9555;
  color: #fff;
  font-size: 50px;
  font-weight: bolder;
  border: 0;
  margin: auto;
  cursor: pointer;
}

/* responsive style */

@media only screen and (max-width: 700px) {
  .circle-1 {
    width: 270px;
    height: 270px;
  }

  .circle-2 {
    width: 230px;
    height: 230px;
  }

  .btn {
    width: 190px;
    height: 190px;
  }
}

@media only screen and (max-width: 580px) {
  .tasbih {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* animation */

@keyframes rotate {
  0% {
    box-shadow: 3px 1px 36px 13px #8bd39f;
  }

  50% {
    box-shadow: 3px 1px 36px 26px #8bd39f;
  }

  100% {
    box-shadow: 3px 1px 36px 13px #8bd39f;
  }
}